@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
*{
	font-weight: 600;

}
*{
	font-weight: 600;

}
html{
	font-family: 'Montserrat', sans-serif;
}
.landing {
	margin: auto;
	margin-top: 80px;
	margin-bottom: 80px;
	width: 1200px;
	display: grid;
	grid-template-columns: 3fr 2fr;
	gap: 30px;
}
.info {
	width: fit-content;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 20px 6px lightgrey;
	border-radius: 8px;
}
.info h1 {
	font-weight: 400;
	color: var(--collection-1-blue);
	background-color: var(--collection-1-ligh-g);
	font-size: 24px;
	padding: 10px 15px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
.info h1 span {
	/* font-size: 26px; */
	font-weight: 700;
}
.info h3 {
	font-size: 16px;
	font-weight: 300;
	margin: 15px 15px;
}
.features {
	margin: 0px 15px 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.feature .heading {
	font-size: 18px;
	color: var(--collection-1-green);
}
.feature .content {
	font-size: 16px;
	font-weight: 300;
}
.started-form {
	height: fit-content;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 20px 6px lightgrey;
	border-radius: 8px;
}
.started-form h2 {
	font-weight: 400;
	color: var(--collection-1-blue);
	background-color: var(--collection-1-ligh-g);
	font-size: 24px;
	padding: 10px 15px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
.started-form .form-info {
	font-size: 16px;
	/* font-weight: 300; */
	margin: 20px 15px;
	color: #a4a1a1;
	text-align: center;
}
.started-form form {
	background-color: var(--collection-1-ligh-g);
	border-radius: 8px;
	padding: 15px 15px;
	color: var(--collection-1-green);
	margin: 0px 20px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 20px;
}
.started-form .form-title {
	font-size: 20px;
}
.started-form form input {
	width: 75%;
	font-size: 18px;
	border-radius: 8px;
	border: none;
	padding: 5px 15px;
}
.started-form .tnc {
	font-size: 14px;
}
.started-form .tnc a {
	color: var(--collection-1-green);
	text-underline-offset: 4px;
	transition: color 0.3s;
}
.started-form .tnc a:hover {
	color: var(--collection-1-light);
}
.started-form button {
	background-color: #004488;
	color: #fff;
	padding: 10px 25px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	display: block;
	transition: background 0.3s;
	font-size: 16px;
}
.started-form button:hover {
	background: #0055aa;
}
@media only screen and (max-width: 1300px) {
	.landing {
		width: 960px;
		grid-template-columns: 5fr 3fr;
	}
}
@media only screen and (max-width: 1024px) {
	.landing {
		width: 720px;
		grid-template-columns: 4fr 3fr;
		gap: 15px;
		margin-top: 60px;
	}
	.info h1 {
		font-size: 20px;
	}
	.started-form h2 {
		font-size: 20px;
	}
	.info h3 {
		font-size: 14px;
		font-weight: 400;
		margin: 15px 15px;
	}
	.feature .content {
		font-size: 14px;
		font-weight: 400;
	}
	.started-form .form-title {
		font-size: 18px;
	}
	.started-form form input {
		width: 85%;
		font-size: 16px;
	}
	/* .started-form button {
		padding: 8px 15px;
	} */
}
@media only screen and (max-width: 850px) {
	.landing {
		margin-top: 100px;
	}
}
@media only screen and (max-width: 750px) {
	.landing {
		grid-template-columns: 1fr;
		width: 450px;
		gap: 40px;
	}
	.info h3 {
		font-size: 14px;
		font-weight: 400;
		margin: 15px 20px;
	}
	.features {
		margin: 0px 20px 20px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.started-form form input {
		width: 75%;
		font-size: 16px;
	}
}

@media only screen and (max-width: 500px) {
	.landing {
		grid-template-columns: 1fr;
		width: 300px;
		gap: 40px;
		margin-bottom: 40px;
	}
	.info h1 {
		font-size: 18px;
	}
	.info h3 {
		font-size: 14px;
		font-weight: 400;
		margin: 15px 15px;
	}
	.feature .heading {
		font-size: 16px;
		color: var(--collection-1-green);
	}
	.started-form h2 {
		font-size: 18px;
	}
	.started-form .form-info {
		font-size: 14px;
		margin: 20px 15px;
		color: #a4a1a1;
		text-align: center;
	}
	.started-form .form-title {
		font-size: 14px;
		font-weight: 600;
	}
	.started-form form input {
		width: 95%;
		font-size: 14px;
	}
	.started-form .tnc {
		font-size: 12px;
	}
}

@media only screen and (max-width: 320px) {
	.landing {
		max-width: 250px;
	}
	.info h1 {
		font-size: 16px;
	}
	.started-form h2 {
		font-size: 16px;
	}
	.info h3 {
		font-size: 12px;
	}
	.feature .heading {
		/* font-size: 14px; */
		font-size: 12px;
		font-weight: 600;
	}
	.feature .content {
		font-size: 12px;
	}
	.started-form .form-title {
		font-size: 12px;
	}
	.started-form form input {
		width: 100%;
		font-size: 12px;
	}
	.started-form form {
		padding: 15px 15px;
		margin: 0px 10px 10px;
	}
	.started-form .tnc {
		font-size: 10px;
	}
	.started-form button {
		padding: 8px 20px;
		font-size: 14px;
	}
}
